@charset "UTF-8";
      
       /* desse modo a declarao de media esta sendo feita via css*/
    *{ /*Declarações Gerais*/
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    body{
        width: 100vw;
        height: 100vh;
        background-color: #1526a7;
        background-size: cover;
        
    }
    h1{
        color: white;
        text-shadow: 2px 2px 0px #1526a7;
        padding: 10px;
    }
    /*Declarações de retrato*/
    @media screen and (orientation:portrait) {
            body{
        background-image: url(imagens/cev-portrait.jpg);
        background-position: center bottom;
    }}
     /*declaração de paisagem*/
     @media screen and (orientation:landscape) {
        body{
        background-image: url(imagens/cev-landscape.jpg);
        background-position: left bottom;
        }   
    }